main{
    background-color: #f8f1e4;
    height: fit-content;
}


.jyoti{
  
   margin: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.textImg{
   
    width: 50vw;

}

.jyotiButton{
    display: none;
    background-color: hsl(39, 59%, 88%);
    border: 1px solid;
    font-family: "Khand";
    font-size: 1rem;
}

.jyotiButton:active{
    
    background-color: hsl(0, 6%, 19%);
}
.jyotiButton:hover{
    
    background-color: hsl(0, 4%, 11%);
}

.jyotiImage{
    width: 40vw;
}

#somnathImg{
    height: 45vh;
}

@media (max-width:768px){
   main p{

   font-size: 0.6rem;
   }

   .jyoti{
    border:0.005rem solid;
    flex-direction: row;
   }
   #somnathImg{
    height: auto;
   }

   .textImg{
    display: none;
   }
   .jyotiButton{
    display: block;
    
   }
}