body{
    margin: 0;
    padding: 0;
    font-family: "Khand";
}



/* header for desktop */


header{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: rgb(191, 218, 216);
}


header img{
    width: 5vw;
}

header nav a{
    font-size: 1.5vw;
}

#ezNavSect{
    display: none;
    /* background-color: hsl(6, 9%, 46%); */
    background-color: rgb(191, 218, 216);
}

#navigation{
    width: 75vw;
    display: flex;
}

#navigation nav{
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#navigation a{

    text-decoration: none;
    color: black;

    padding: 0 5vw;
    
    
}

#navigation a{

    position: relative;
    width: max-content;
}

#navigation a::after{
    content: '';
    /* background:linear-gradient(to right, black, red); */
    background:linear-gradient(to right, #78c8a9, #788266);
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    transition: 100ms;
}

#navigation a:hover::after{
    width:5%;
}



#contentDrop {
    margin: 0 0.5vw 0 0.5vw;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5vw;
    justify-content: space-around;
    background: transparent;
}

footer{
    text-align: center;
}

.dropBtn{
    position: relative;
    text-align: center;
    overflow: hidden;
    font-family: "Khand";
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropBtn::after{

    content: '';
    background:linear-gradient(to right, #78c8a9, #788266);
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: 100ms;
    

}



.dropBtn:hover::after{
    width: 5%;
}
.dropBtn:hover{
    background-color: #C9DABF;
}

.hidden{
    background: transparent;
    border: none;
}


/* header for desktop end */


/* header for phone start */

@media (max-width:768px){
    #navigation{
        display: none;
    }

    header{
        justify-content: space-between;
    }

    h1{
        font-size: 1.2rem;
        padding: 0 0 0 0;
    }

    #threeLines {
        font-size: 1.5rem;
        cursor: pointer;
    }

    header img{
        width: 10vw; 
    }

    #phoneNavThree a{
       text-decoration: none;
       color: black;
    }

    #phoneNavThree{
        position: fixed;
        height: 90vh;
        width:0;
        background-color: rgb(191, 218, 216);
        z-index: 1;
        top:0;
        left:0;
        color:white;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: 0.5s;
    

    }

    #phoneNavThree a{
        -webkit-tap-highlight-color: transparent;
        display: block;
        position: relative;
        padding: 4vw 25vw 2vw 5vw;
        transition: 0.3s;
        font-size: 1rem;
    }

    #phoneNavThree a::after{
        content: '';
        background:linear-gradient(to right, #78c8a9, #788266);
        position: absolute;
        height: 5px;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: 100ms;
    }

    #phoneNavThree a:hover::after{
        width: 5%;
    }
   



    #closingPhone{
        color: black;
        font-size: 1.5rem;
    }

    #closingPhone::after{
        display: none;
    }

    #contentDropPhone{
        padding-top: 5vw;
        display: none;
    }

    .dropBtnPhone{
        border:none;
        font-family: "Khand";
        padding: 2vw 25vw 2vw 5vw;
        font-size: 1rem;
        width:40vw;
        text-align: left;
        background: transparent;
    }

    .dropBtnPhone:hover{
        background-color: hsl(98, 27%, 90%);
    }

    .dropBtnPhone:active{
        background-color:  hsl(98, 27%, 87%);
    }





}


@media (min-width:768px){
    #phoneNavThree{
        display: none;
    }

    #threeLines{
        display: none;
    }

}